@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

:root {
  --main-color: #E97C53;
  --main-color-hover: #db663c;
}


.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 60vh !important;
  width: 60vw !important;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.logo{
  background-image: url(../src/assets/git-topics.svg) !important;
  width: 5.5rem;
  height: 4rem;
}


.navbar .router-link-exact-active {
  border-bottom: 3px solid var(--main-color);
}

.card {
  margin: 1rem;
}

.card a {
  color: var(--main-color) !important;
}

.card-title, .card-subtitle, .card-text {
  padding: 0.5rem;
}

.card-title {
  font-size: 1.5rem !important;
}

.btn-primary {
  color: #fff;
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.btn-primary:hover {
  background-color: var(--main-color-hover) !important;
  border-color: var(--main-color-hover) !important;
}
